{% extends '_parts/base.twig' %}

{% block title %}
  Not found{{ parent() }}
{% endblock %}

{% block content %}
  <section id="one">
    <div class="inner">
      <h1 class="text-center"><i class="si si-404"></i> Process start not found...</h1>
      <p>
        We could not find this page. Contact us if you miss something.
      </p>
      
      {% if message is not empty %}
      	<p>Reason: {{ message }}</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
