{% extends "templates/parts/base_content.html" %}

{% block title %}AddOns{{ parent() }}{% endblock %}

{% block content %}
	
			<style>
			.icon-customized {
				color: #b3b3b3;
				font-size: 3em;
			}
			</style>
			
			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3><span class="icon icon-customized fas fa-flask"></span> Demos</h3>
							</header>
							<p>These projects impressively demonstrate the power of the Axon.ivy Digital Business Platform.</p>
							<ul>
							  {% for projectDemo in projectDemos %}
							  	<li><a href="{{ projectDemo.permalinkDev }}">{{ projectDemo.displayName }}</a></li>
							  {% endfor %}
							</ul>
							Or simply drop the <a href="{{ projectDemosApp.permalinkDev }}">demo app</a> in <i>[engine-dir]/deploy</i>.</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3><span class="icon icon-customized fas fa-tasks"></span> Workflow Uis</h3>
							</header>
							<p>Workflow UIs provides as a fully functional end user application that allows to manage and facilitate your daily work.</p>
							<ul>
							  {% for workflowUi in workflowUis %}
							  	<li><a href="{{ workflowUi.permalinkDev }}">{{ workflowUi.displayName }}</a></li>
							  {% endfor %}
							</ul>
						</div>
					</article>
				</div>
			</section>


			<!--
			<section id="one">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3><span class="icon icon-customized fas fa-puzzle-piece"></span>IvyAddOns</h3>
							</header>
							<p>
								The IvyAddOns project is provided as a convenience utility project for Axon.ivy developers.
								It contains various reusable components, such as:
							</p>
							<ul>
							  <li><strong>Dynamic Dialog</strong> turn your business object directly into a GUI</li>
							  <li><strong>DocFactory</strong> generating automatically documents like serial letters with the help of documents models like Microsoft Office Templates</li>
							  <li><strong>Common Rich Dialogs</strong> general and customizable implementation of often-used user-interaction dialogs</li>
							  <li><strong>File Management System</strong> allows sharing, editing, versioning, copying and printing of files in the Ivy RIA Applications</li>
							  <li><strong>And many more</strong> Java Helper Classes, Libraries, Wait for an asynchronous process</li>
							</ul>
							<ul class="actions">
								<li><a href="" class="button special">Download 4.3</a></li>
								<li><a href="" class="button special">Download 5.0</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>
			
			-->
			
			

			<!-- 
			<section id="two">
				<div class="inner">
					<article class="alt">
						<div class="content">
							<span class="icon icon-customized fas fa-user"></span>
							<header>
								<h3>Community</h3>
							</header>
							<p>
								In our active community, users help each other.
								Questions are asked and answered. In addition, sample projects and solutions are provided.
							</p>
							<ul class="actions">
								<li><a href="/community" class="button special">Community</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>
 -->
<!-- 
https://blob.axonivy.works/addons/IvyAddOns-4.3.17.zip
https://blob.axonivy.works/addons/IvyAddOns-5.0.9.zip
https://blob.axonivy.works/portal/axonivy-portal_sprint123-r132713.zip
https://blob.axonivy.works/addons/JsfWfUi-5.0.9.zip
https://blob.axonivy.works/addons/WorkflowUI-4.3.17.zip
https://blob.axonivy.works/addons/WorkflowUI-5.0.9.zip
https://blob.axonivy.works/addons/HtmlWfUi-4.3.17.zip
https://blob.axonivy.works/addons/HtmlWfUi-5.0.9.zip
 -->
 
{% endblock %}