{% extends "templates/parts/base_content.html" %}

{% block title %}AddOns{{ parent() }}{% endblock %}

{% block content %}
	
			<style>
			.icon-customized {
				color: #b3b3b3;
				font-size: 3em;
			}
			</style>

			<section id="one">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h1>AddOns</h1>
							</header>
							<span class="icon icon-customized fa-puzzle-piece"></span>
							<h3>Axon.ivy IvyAddOns</h3>
							<p>
								The IvyAddOns project is provided as a convenience utility project for Axon.ivy developers.
								It contains various reusable components, such as:
							</p>
							<ul>
							  <li><strong>Dynamic Dialog</strong> turn your business object directly into a GUI</li>
							  <li><strong>DocFactory</strong> generating automatically documents like serial letters with the help of documents models like Microsoft Office Templates</li>
							  <li><strong>Common Rich Dialogs</strong> general and customizable implementation of often-used user-interaction dialogs</li>
							  <li><strong>File Management System</strong> allows sharing, editing, versioning, copying and printing of files in the Ivy RIA Applications</li>
							  <li><strong>And many more</strong> Java Helper Classes, Libraries, Wait for an asynchronous process</li>
							</ul>
							<ul class="actions">
								<li><a href="https://blob.axonivy.works/addons/IvyAddOns-4.3.17.zip" class="button special">Download 4.3</a></li>
								<li><a href="https://blob.axonivy.works/addons/IvyAddOns-5.0.9.zip" class="button special">Download 5.0</a></li>
							</ul>
							<small style="font-size:12px;">Newer versions are directly included in the Axon.ivy Designer &amp; Engine</small style="font-size:12px;">
						</div>
					</article>
				</div>
			</section>

			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon icon-customized fa-columns"></span>
							<header>
								<h3>Axon.ivy Portal</h3>
							</header>
							<p>
								The Axon.ivy Portal is intended as a starting point on your ivy process server. It helps to develop and publish your project(s) 
								together with extended workflow and administration functionality. Versions from 6.0 are directly included in the Axon.ivy Engine. 
							</p>
							<ul class="actions">
								<li><a href="https://blob.axonivy.works/portal/axonivy-portal_sprint123-r132713.zip" class="button special">Download 5.0</a></li>
							</ul>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<span class="icon icon-customized fa-tv"></span>
							<header>
								<h3>Axon.ivy Monitor</h3>
							</header>
							<p>
								This is an additional module of the Axon.ivy Digital Business Platform. It is designed for monitoring your process applications in real-time.
								Axon.ivy Monitor stands for Business Activity Monitoring (BAM) and features different views on your processes:
							</p>
							<ul>
								<li>Dashboard Summary</li>
								<li>Process Overview</li>
								<li>Role Overview</li>
								<li>Each User</li>
							</ul>
							<small style="font-size:12px;">Contact us for more information.</small style="font-size:12px;">
						</div>
					</article>
				</div>
			</section>

			<section id="three">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon icon-customized fa-tasks"></span>
							<header>
								<h3>JSF Workflow UI</h3>
							</header>
							<p>The JSF Workflow UI project is provided as a fully functional end user application that allows to manage and facilitate your daily work. The main features are:</p>
							<ul>
							  <li>Tasklist handling</li>
							  <li>User management like daily mail, language and notifications</li>
							  <li>Substitute management</li>
							  <li>and many more</li>
							</ul>
							<ul class="actions">
								<li><a href="https://blob.axonivy.works/addons/JsfWfUi-5.0.9.zip" class="button special icon fa-download" style="font-size:15px;">5.0</a></li>
							</ul>
							<small style="font-size:12px;">Newer versions are directly included in the Axon.ivy Designer &amp; Engine</small style="font-size:12px;">
						</div>
					</article>
					
					<article>
						<div class="content">
							<span class="icon icon-customized fa-tasks"></span>
							<header>
								<h3>ULC Workflow UI</h3>
							</header>
							<p>The ULC Workflow UI project is provided as a fully functional end user application that allows to manage and facilitate your daily work. The main features are:</p>
							<ul>
							  <li>Tasklist handling</li>
							  <li>User management like daily mail, language and notifications</li>
							  <li>Substitute management</li>
							  <li>and many more</li>
							</ul>
							<ul class="actions">
								<li><a href="https://blob.axonivy.works/addons/WorkflowUI-4.3.17.zip" class="button special icon fa-download" style="font-size:15px;">4.3</a></li>
								<li><a href="https://blob.axonivy.works/addons/WorkflowUI-5.0.9.zip" class="button special icon fa-download" style="font-size:15px;">5.0</a></li>
							</ul>
							<small style="font-size:12px;">Newer versions are directly included in the Axon.ivy Designer &amp; Engine</small style="font-size:12px;">
						</div>
					</article>
					<article>
					<div class="content">
							<span class="icon icon-customized fa-tasks"></span>
							<header>
								<h3>HTML Workflow UI</h3>
							</header>
							<p>The HTML Workflow UI project is provided as a fully functional end user application that allows to manage and facilitate your daily work. The main features are:</p>
							<ul>
							  <li>Tasklist handling</li>
							  <li>User management like daily mail, language and notifications</li>
							  <li>Substitute management</li>
							  <li>and many more</li>
							</ul>
							<ul class="actions">
								<li><a href="https://blob.axonivy.works/addons/HtmlWfUi-4.3.17.zip" class="button special icon fa-download" style="font-size:15px;">4.3</a></li>
								<li><a href="https://blob.axonivy.works/addons/HtmlWfUi-5.0.9.zip" class="button special icon fa-download" style="font-size:15px;">5.0</a></li>
							</ul>
							<small style="font-size:12px;">Newer versions are directly included in the Axon.ivy Designer &amp; Engine</small style="font-size:12px;">
						</div>
					</article>
				</div>
			</section>

    
{% endblock %}