{% extends "templates/parts/base_content.html" %}

{% block title %}Archive{{ parent() }}{% endblock %}

{% block content %}

    <section id="main" >
		<div class="inner">
			<header><h2>Archive</h2></header>
			<div class="table-wrapper">
				<div class="select-wrapper">
					<select name="version" id="version" onchange="location = this.value;">
						{% for majorVersion in majorVersions %}
							<a href="#"><option value="/download/archive/{{ majorVersion }}" {{ (majorVersion == currentMajorVersion) ? 'selected' : '' }}>{{ majorVersion }}.x</option></a>
						{% endfor %}
					</select>
				</div>
				
				<br />
				
				<table class="alt">
					<thead>
						<tr>
							<th>Version</th>
							<th>Download</th>
							<th>Documents</th>
						</tr>
					</thead>
					<tbody>
						{% for releaseInfo in releaseInfos %}
							<tr>
								<td>{{ releaseInfo.version.VersionNumber }}</td>
								<td>
									{% if releaseInfo.UnsafeVersion %}
										<span style="color:red;">
										 We have identified a security issue in this version which has been fixed with {{ releaseInfo.SafeVersion }}.
										 We highly recommend updating to the latest version or <a href="/download/securityvulnerability">patch this version!</a>
										 </span> <br />
									{% endif %}
								
									{% for variant in releaseInfo.Variants %}
										<a href="{{ variant.DownloadUrl }}"><span class="icon fa-download"> </span></a>&nbsp;{{ variant.FileName }}<br />
									{% endfor %}
								</td>
								<td>
									{% if releaseInfo.DocumentReleaseNote is not empty and releaseInfo.DocumentReleaseNote.Exists %}
										<a href="{{ releaseInfo.DocumentReleaseNote.Url }}"><span class="icon fa-file"> </span></a>&nbsp;{{ releaseInfo.DocumentReleaseNote.Name }}
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
    
{% endblock %}