{% extends "templates/parts/base_content.html" %}

{% block title %}{{ name }}{{ parent() }}{% endblock %}

{% block content %}

    <section id="main" >
		<div class="inner">
				<div style="text-align:right;position:relative;top:-40px; height: 0;">
					<a href="latest">latest</a> |
					<a href="sprint">sprint</a> |
					<a href="nightly">nightly</a> |
					<a href="dev">dev</a>
					
				</div>
			
			<header>
				<h2>
					Download {{ name }}			
						{% if testingPurpose %}
							<br /><span style="font-size:14px;color:red;text-transform:none;">These artifacts are for testing purposes only. Never use them on a productive system!</span>
						{% endif %}
				</h2>
			</header>
			
			{% if artifacts is empty %}
				<span style="color:red;">Artifacts are not yet available. Please check back in approx. 15 minutes.</span><br /><br />
			{% else %}
				<ul>
				{% for artifact in artifacts %}
					<li><a href="{{ artifact.downloadUrl }}">{{ artifact.fileName }}</a><br />
				{% endfor %}
				</ul>				
			{% endif %}
			
			{% if artifacts is not empty %}
			<h3>Permalinks</h3>
			
			<ul>
				{% for artifact in artifacts %}
					<li><a href="{{ artifact.Permalink }}">{{ artifact.Permalink }}</a><br />
				{% endfor %}
			</ul>
			{% endif %}
					
			<h3>Docker</h3>
			<pre><code>docker pull {{ dockerImage }}
docker run -p 8080:8080 {{ dockerImage }}</code></pre>
			
			<h3>Maven Project Build Plugin</h3>
			<pre><code>mvn clean install -Divy.engine.list.url={{ currentUrl }}</code></pre>
			
			{% if p2Url is not empty %}
			<h3>Updatesite / P2</h3>
			<ul>
				<li><a href="{{ p2Url }}">{{ p2Url }}</a></li>
			</ul>
			{% endif %}
			
		</div>
	</section>
    
{% endblock %}
