{% extends "templates/parts/base_content.html" %}

{% block title %}Download{{ parent() }}{% endblock %}

{% block content %}
	

			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon fas fa-wrench"></span>
							<header>
								<h3>Axon.ivy Designer</h3>
							</header>
							<p style="min-height:200px;">
								The Axon.ivy Designer is a state of the art process modelling tool that enables you to turn your business processes into real and fully functional web applications. You can easily integrate your existing systems using standard connectors such as web services, SQL and many more. 
							</p>
							
							{% if designerVariantLTS is not empty %}
							<ul class="actions">
								<li><a href="{{ designerVariantLTS.InstallationUrl }}" class="button special">Download LTS {{ designerVariantLTS.Version.BugFixVersion }} {{ designerVariantLTS.Type }} {{ designerVariantLTS.Architecture }}</a></li>
							</ul>
							{% endif %}
							
							<p>
								Our <a href="#product-editions">leading edge</a> release got always the newest features: 
							</p>
							
							{% if designerVariantLE is not empty %}
							<ul class="actions">
								<li><a href="{{ designerVariantLE.InstallationUrl }}" class="button special">Download LE {{ designerVariantLE.Version.BugFixVersion }} {{ designerVariantLE.Type }} {{ designerVariantLE.Architecture }}</a></li>
							</ul>
							{% endif %}
							<p>
								<a href="/download/archive">other version and platforms</a>
							</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<span class="icon fas fa-rocket"></span>
							<header>
								<h3>Axon.ivy Engine</h3>
							</header>
							<p style="min-height:200px;">
								With the Axon.ivy Engine you can run your designed business processes on a single or clustered environment. Please order an evaluation licenses and further information at ivy@axonivy.com by providing your contact details.
							</p>
							
							{% if engineVariantLTS is not empty %}
							<ul class="actions">
								<li><a href="{{ engineVariantLTS.DownloadUrl }}" class="button special">Download LTS {{ engineVariantLTS.Version.BugFixVersion }} {{ engineVariantLTS.Type }} {{ engineVariantLTS.Architecture }}</a></li>
							</ul>
							{% endif %}

							<p>
								Our <a href="#product-editions">leading edge</a> release got always the newest features: 
							</p>
							
							{% if engineVariantLE is not empty %}
							<ul class="actions">
								<li><a href="{{ engineVariantLE.DownloadUrl }}" class="button special">Download LE {{ engineVariantLE.Version.BugFixVersion }} {{ engineVariantLE.Type }} {{ engineVariantLE.Architecture }}</a></li>
							</ul>
							{% endif %}
							
							<p>
								<a href="/download/archive">other version and platforms</a>
							</p>
							
							<code>docker run axonivydev/axonivy-engine</code>
						</div>
					</article>
				</div>
			</section>

		
			<section id="three">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon fas fa-archive"></span>
							<header>
								<h3>Archive</h3>
							</header>
							<p>You are looking for older versions? Browse our archive!</p>
							<ul class="actions">
								<li><a href="/download/archive" class="button special">Archive</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<span class="icon fas fa-star"></span>
							<header>
								<h3>Dev Releases</h3>
							</header>
							<p>Can't wait for new features? Check our Sprint Release and Nightly Builds!</p>
							<ul class="actions">
								<li style="margin-bottom:8px;"><a href="/download/sprint-release" class="button special" style="width:200px;">Sprint Release</a></li>
								<li><a href="/download/nightly" class="button special" style="width:200px;">Nightly Builds</a></li>
							</ul>
						</div>
					</article>
					<article>
					<div class="content">
							<span class="icon fas fa-puzzle-piece"></span>
							<header>
								<h3>AddOns</h3>
							</header>
							<p>Do you need more functionality? Install our AddOns!</p>
							<ul class="actions">
								<li><a href="/download/addons" class="button special">AddOns</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		
	
			<section id="two">
				
				<div class="inner" id="product-editions">
					<article>
						<div class="content">
							<header>
								<h6>Product Edition</h6>
								<h3>Long Term Support (LTS)</h3>
							</header>
							<p>
								We deliver an LTS release on a yearly base. An LTS release is the most stable version.
								We provide several update releases during the maintenance period of an LTS release.
								An update release contains mainly bug fixes and tiny improvements.
								This protects a running, productive environment - an upgrade to a new update release comes with a minimal risk.
								We support the two latest LTS releases at a time.
							</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h6>Product Edition</h6>
								<h3>Leading Edge (LE)</h3>
							</header>
							<p>
								During the year we deliver a few Leading Edge releases.
								A Leading Edge release is based on the latest stable LTS release and contains new major features.
								In contrast to the LTS version, only the latest Leading Edge release is supported!
								An Leading Edge release allows to use latest features as soon as they are in a productive state.
								The next LTS version will be based on the latest Leading Edge version.
							</p>
						</div>
					</article>
				</div>
			</section>
 



    
{% endblock %}