{% extends "templates/parts/base_content.html" %}

{% block title %}Download{{ parent() }}{% endblock %}

{% block content %}
	


<section id="one" class="inverse">
	<div class="inner-small">
		<header>
			<h1><span class="icon fas fa-download"></span> Download</h1>
		</header>
	
		<p>
			Download the latest Axon.ivy Designer and Axon.ivy Engine from here.
		</p>
	<div>
</section>


			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							
							<header>
								<h3><span class="icon fas fa-wrench"></span>
									Axon.ivy Designer</h3>
							</header>
							<p style="min-height:200px;">
								The Axon.ivy Designer is a state of the art process modelling tool that enables you to turn your business processes into real and fully functional web applications. You can easily integrate your existing systems using standard connectors such as web services, SQL and many more. 
							</p>
							
							{% if designerVariantLTS is not empty %}
							<a href="{{ designerVariantLTS.InstallationUrl }}" title="{{ designerVariantLTS.FileName }}" class="button special">
								Designer {{ designerVariantLTS.Version.DisplayVersion }} (LTS)
							</a>
							{% endif %}

							{% if designerVariantLE is not empty %}
							<a href="{{ designerVariantLE.InstallationUrl }}" title="{{ designerVariantLE.FileName }}" class="button">Designer {{ designerVariantLE.Version.DisplayVersion }} (LE)</a>
							{% endif %}
							<p>
								<a href="/download/archive">other version and platforms</a>
							</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3><span class="icon fas fa-rocket"></span>Axon.ivy Engine</h3>
							</header>
							<p style="min-height:200px;">
								With the Axon.ivy Engine you can run your business processes on a single or clustered environment. Please order an evaluation licenses and further information at ivy@axonivy.com by providing your contact details.
								
							Choose between <a href="#product-editions">Long Term Support (LTS)</a> or <a href="#product-editions">Leading Edge (LE)</a> 
							</p>
							
							{% if engineVariantLTS is not empty %}
							<a href="{{ engineVariantLTS.DownloadUrl }}" title="{{ engineVariantLTS.FileName }}" class="button special">
								Engine{{ engineVariantLTS.fileExtensionIfNecessary }} {{ engineVariantLTS.Version.DisplayVersion }} (LTS)
							</a>
							{% endif %}
							
							{% if engineVariantLE is not empty %}
							<a href="{{ engineVariantLE.DownloadUrl }}" title="{{ engineVariantLE.FileName }}" class="button">
								Engine{{ engineVariantLTS.fileExtensionIfNecessary }} {{ engineVariantLE.Version.DisplayVersion }} (LE)
							</a>
							{% endif %}
							
							<p>
								<a href="/download/archive">other version and platforms</a>
							</p>
							
							<h4><a href="/doc/latest/engine-guide/getting-started/docker.html">Docker</a></h4>
							<pre><code>docker pull axonivy/axonivy-engine
docker run -p 8080:8080 axonivy/axonivy-engine</code></pre>
							<h4><a href="/doc/latest/engine-guide/getting-started/debian.html">Debian / Ubuntu Linux</a></h4>
							<pre><code>wget https://developer.axonivy.com/permalink/latest/axonivy-engine.deb
sudo apt install ./axonivy-engine.deb</code></pre>
						</div>
					</article>
				</div>
			</section>

		
			<section id="three">
				<div class="inner">
				    <article>
						<div class="content">
							<span class="icon fas fa-store"></span>
							<header>
								<h3>Axon.ivy Market</h3>
							</header>
							<p>In our market you will find powerful extensions for the Axon.ivy platform!</p>
							<ul class="actions">
								<li><a href="/market" class="button special">Axon.ivy Market</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<span class="icon fas fa-archive"></span>
							<header>
								<h3>Archive</h3>
							</header>
							<p>You are looking for older versions? Browse our archive!</p>
							<ul class="actions">
								<li><a href="/download/archive" class="button special">Archive</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<span class="icon fas fa-star"></span>
							<header>
								<h3>Dev Releases</h3>
							</header>
							<p>Future is Bright! Check our Sprint Release and Nightly Builds!</p>
							<ul class="actions">
								<li style="margin-bottom:8px;"><a href="/download/sprint" class="button special" style="width:200px;">Sprint Release</a></li>
								<li><a href="/download/nightly" class="button" style="width:200px;">Nightly Builds</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		
	
			<section id="two">
				
				<div class="inner" id="product-editions">
					<article>
						<div class="content">
							<header>
								<h6>Product Edition</h6>
								<h3>Long Term Support (LTS)</h3>
							</header>
							<p>
								We deliver an LTS release on a yearly base. An LTS release is the most stable version.
								We provide several update releases during the maintenance period of an LTS release.
								An update release contains mainly bug fixes and tiny improvements.
								This protects a running, productive environment - an upgrade to a new update release comes with a minimal risk.
								We support the two latest LTS releases at a time.
							</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h6>Product Edition</h6>
								<h3>Leading Edge (LE)</h3>
							</header>
							<p>
								During the year we deliver a few Leading Edge releases.
								A Leading Edge release is based on the latest stable LTS release and contains new major features.
								In contrast to the LTS version, only the latest Leading Edge release is supported!
								An Leading Edge release allows to use latest features as soon as they are in a productive state.
								The next LTS version will be based on the latest Leading Edge version.
							</p>
						</div>
					</article>
				</div>
			</section>
 



    
{% endblock %}