{% extends "templates/parts/base_content.html" %}

{% block title %}Nightly Builds{{ parent() }}{% endblock %}

{% block content %}

    <section id="main" >
		<div class="inner">
			<header><h2>Nightly Builds</h2></header>
			
			<blockquote>
				The following nightly builds are for testing purposes only. Never ever use them on productive systems!
			</blockquote>
			
			{% if nightlyArtifacts is empty %}
				<span style="color:red;">Artifacts are not yet available. Please check back in approx. 15 minutes.</span><br /><br />
			{% else %}
				<ul>
				{% for nightlyArtifact in nightlyArtifacts %}
					<li><a href="{{ nightlyArtifact.downloadUrl }}">{{ nightlyArtifact.fileName }}</a><br />
				{% endfor %}
				</ul>				
			{% endif %}
			
			<h2>Remarks</h2>
			<ul>
			  <li>Please note that a specific nightly build is only available for a day. It might already be deleted when you download it. New nightly releases should be available at 02:00 UTC.</li>
			  <li>Using nightly builds with the maven project-build-plugin: <br/> <code>mvn clean install -Divy.engine.list.url={{ nightlyUrl }}</code></li>
			  <li>You can also consume the sprint increment trough an updatesite under:<br /> <code><a href="{{ nightlyUrlP2 }}">{{ nightlyUrlP2 }}</a></code></li>
			</ul>
			
		</div>
	</section>
    
{% endblock %}
