{% extends "templates/parts/base_content.html" %}

{% block title %}{{ name }}{{ parent() }}{% endblock %}

{% block content %}

    <section id="main" >
		<div class="inner">
			<header><h2>{{ name }}</h2></header>
			
			{% if testingPurpose %}
			<blockquote>
				The following {{ name|lower }} are for testing purposes only. Never ever use them on productive systems!
			</blockquote>
			{% endif %}
			
			{% if artifacts is empty %}
				<span style="color:red;">Artifacts are not yet available. Please check back in approx. 15 minutes.</span><br /><br />
			{% else %}
				<ul>
				{% for artifact in artifacts %}
					<li><a href="{{ artifact.downloadUrl }}">{{ artifact.fileName }}</a><br />
				{% endfor %}
				</ul>				
			{% endif %}
			
			{% if artifacts is not empty %}
			<h3>Permalinks</h3>
			Same link to get always the latest {{ name|lower }}.<br/> E.g. use it with <code>wget</code> (may add <code>--content-disposition</code> parameter to sore it with the real filename).
			<ul>
				{% for artifact in artifacts %}
					<li><a href="{{ artifact.Permalink }}">{{ artifact.Permalink }}</a><br />
				{% endfor %}
			</ul>
			{% endif %}
					
			<h3>Docker</h3>
			<pre><code>docker run -p 8080:8080 {{ dockerImage }}</code></pre>
			
			<h3>Remarks</h3>
			<ul>
			  <li>
			  	Using {{ name|lower }} with the maven project-build-plugin: <br/> <pre><code>mvn clean install -Divy.engine.list.url={{ currentUrl }}</code></pre>
			  </li>
			  {% if p2Url is not empty %}
			  <li>
			  	You can also consume the {{ name|lower }} trough an updatesite under: <code><a href="{{ p2Url }}">{{ p2Url }}</a></code>
			  </li>
			  {% endif %}
			</ul>
			
		</div>
	</section>
    
{% endblock %}
