{% extends "templates/parts/base_content.html" %}

{% block title %}Sprint Release{{ parent() }}{% endblock %}

{% block content %}

    <section id="main" >
		<div class="inner">
			<header><h2>Sprint Release</h2></header>
			
			<blockquote>
				The following sprint releases are for testing purposes only. Never ever use them on productive systems!
			</blockquote>
			
			<p>We provide previews of the next release on a regular basis.</p>
			
				{% for releaseInfo in releaseInfos %}
			
					<h3>{{ releaseInfo.Version.VersionNumber }}</h3>			
					
					{% if releaseInfo.SprintArtifacts is empty %}
						<span style="color:red;">Artifacts are not yet available. Please check back in approx. 15 minutes.</span><br /><br />
					{% else %}
						<ul>
						{% for sprintArtifact in releaseInfo.SprintArtifacts %}
							<li><a href="{{ sprintArtifact.downloadUrl }}">{{ sprintArtifact.fileName }}</a><br />
						{% endfor %}
						</ul>
					{% endif %}
					
				{% endfor %}
			
			<h2>Permalinks</h2>
			<p>Same link to get always the latest sprint release. E.g. use it with <code>wget</code> (may add <code>--content-disposition</code> parameter to sore it with the real filename).</p>
			<ul>
				{% for permalink in permalinks %}
					<li><a href="{{ permalink.url }}">{{ permalink.name }}</a></li>
				{% endfor %}
			</ul>
			
			<h2>Remarks</h2>
			<ul>
			  <li>It is recommended to create a new workspace and import existing projects again.</li>
			  <li>Using sprint release builds with the maven project-build-plugin:
			  	<br /><code>mvn clean install -Divy.engine.list.url={{ sprintUrl }}</code></li>
			  <li>
			  	You can also consume the sprint increment trough an updatesite under:<br />
			  	<code><a href="{{ sprintUrlP2 }}">{{ sprintUrlP2 }}</a></code>
				</li>
			</ul>
			
		</div>
	</section>
    
{% endblock %}
