{% extends "templates/parts/base_content.html" %}

{% block title %}Installation{{ parent() }}{% endblock %}

{% block content %}

<section id="one" class="inverse">
	<div class="inner-small">
		<header>
			<h1>
				<span class="icon fas fa-download"></span> {{ title }}
			</h1>
		</header>
	</div>
</section>

<section id="main" >
	<div class="inner-small" style="">
		{% if type == "Debian" %}
			{% include 'app/installation/_debian.html' %}
		{% elseif type == "docker" %}
			{% include 'app/installation/_docker.html' %}
		{% elseif product == "engine" %}
			{% include 'app/installation/_engine.html' %}
		{% else %}
			{% include 'app/installation/_designer.html' %}
		{% endif %}
	</div>
</section>

{% endblock %}
