{% extends "_parts/base.twig" %}

{% block title %}Doc {{ parent() }}{% endblock %}

{% block content %}

<section id="main">
  <div class="inner">
    <header>
      <h1>Documentation</h1>
    </header>
    <p>Find all information about the Axon Ivy Platform in our documents.</p>
  </div>
</section>

<style>
#two .button.special.special-dropdown,
#three .button.special.special-dropdown {
  padding: 0;
  border: none;
  line-height: 3.5em;
}
.button.special.special-dropdown > a {
  padding-left: 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.button.special.special-dropdown > .doc-dropdown {
  padding: 0 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.button.special.special-dropdown:hover {
  background-color: hsl(195, 100%, 29%);
}
.button.special.special-dropdown > a:hover {
  background-color: hsl(195, 100%, 34%);
}
.button.special.special-dropdown > .doc-dropdown:hover {
  background-color: hsl(195, 100%, 34%);
}
a.min-width {
  min-width: 9em;
  display: inline-block;
}
.doc-dropdown-content {
  right: 1px;
}
</style>

{% if docLinksLE is not empty %}
  <section id="three">
  {% else %}
  <section id="two">
  {% endif %}
    <div class="inner">
      {% include 'doc/_link.twig' with {'title': 'Long Term Support (LTS)', 'docLinks': docLinksLTS} only %}        
      {% include 'doc/_link.twig' with {'title': 'Leading Edge (LE)', 'docLinks': docLinksLE} only %}        
      {% include 'doc/_link.twig' with {'title': 'Development Build', 'docLinks': docLinksDev} only %}     
    </div>
  </section>
{% endblock %}
