{% extends "templates/parts/base_content.html" %}

{% block title %}Support{{ parent() }}{% endblock %}

{% block content %}

	<style>
		.no-signs {
			list-style-type: none;
			padding-left: 0px;
		}
		.no-signs li span {
			margin-right:10px;
		}	
	</style>

	<section id="main" >
		<div class="inner">
			<header><h1><span class="icon fa-life-ring"></span> Support</h1></header>
			
			<p>
				Axon.ivy Support is committing to provide high-quality, technical support for quick problem solving, training or consulting.
				This protects your Axon.ivy investment and lets all participants sleep well.
			</p>

			<h3>To get support please contact us</h3>
			<ul class="no-signs">
				<li><span class="icon fa-ticket"></span> create a ticket in our <a href="https://ivysupport.axonivy.com">help center</a></li>
				<li><span class="icon fa-envelope"></span> <a href="mailto:ivy@axonivy.com">ivy@axonivy.com</a></li>
				<li><span class="icon fa-phone"></span> +41 58 666 35 55</li>
			</ul>
		</div>
	</section>

{% endblock %}