<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% if block("meta") is defined %}  
    {{ block("meta")|raw }}
  {% else %}
    <meta name="description" content="Automate your business processes with the Axon Ivy Platform">  
    <meta property="og:image" content="https://developer.axonivy.com/images/misc/axonivy-logo-round.png">
    <meta property="og:image:alt" content="Axon Ivy Logo">
  {% endif %}


  <title>{% block title %} | DEV Axon Ivy{% endblock %}</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54715257-1', 'auto');
    ga('send', 'pageview');
  </script>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/icons.css" />
  <link rel="stylesheet" href="/assets/css/primeflex.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
  <link rel="icon" href="/images/favicon.png">

  <!-- sticky footer styles -->
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    .sticky-footer-wrapper {
      min-height: 100%;
      /* Equal to height of footer */
      /* But also accounting for potential margin-bottom of last child */
      margin-bottom: -11rem;
    }
    #footer, .sticky-footer-push {
      height: 11rem;
    }
    a {
      color: #007095;
    }
    .button {
      text-transform: none;
    }
    #header .button.special.download,
    #navPanel .button.special.download {
      background-color: #C7D426; 
      color: #1b1b1b; 
      font-weight: normal;
      border-radius: 30px;
      min-width: 200px;
      border-color: #C7D426;
      height: 3rem;
      line-height: 2.7rem;
    }
    #header a .sidebar-only {
      display: none;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
  {% if hideHeader is not defined %}
    <header id="header">
      <div class="inner">
        <a href="/" class="logo"> <img src="/images/misc/axonivy-logo.svg" style="width: 200px; height: 3rem; margin-top: 1rem; vertical-align: initial;" alt="Axon Ivy"> </a>
        <nav id="nav">
          <a class="button special download" href="/download">Download {{ CURRENT_VERSION_DOWNLOAD }}</a>
          <a href="/news"><i class="si si-news sidebar-only"></i>News</a>
          <a href="/doc"><i class="si si-book sidebar-only"></i>Doc</a>
          <a href="/tutorial"><i class="si si-tutorial sidebar-only"></i>Tutorial</a>
          <a href="https://community.axonivy.com/" target="_blank" rel="noreferrer"><i class="si si-answers sidebar-only"></i>Community</a>
          <a href="/team"><i class="si si-team sidebar-only"></i>Team</a>
          <a href="/market"><i class="si si-shop sidebar-only"></i>Market</a>
          <a href="/search"><i class="si si-search"></i><span class="sidebar-only">Search</span></a>
        </nav>
      </div>
    </header>

    <a href="#menu" class="navPanelToggle"><span class="si si-menu"></span></a>
  {% else %}
    <style>
      body {
        padding: 0em;
      }
      #main {
        padding: 1em;
      }
      ul {
        margin: 0em;
      }
    </style>
  {% endif %}

  <div class="sticky-footer-wrapper">
    {% block global %}{% endblock %}

    {% if hideFooter is not defined %}
      <div class="sticky-footer-push"></div>
    {% endif %}
  </div>

  {% if hideFooter is not defined %}
    <section id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="https://twitter.com/AxonivyPlatform" class="icon fab fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/axonivy/" class="icon fab fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.xing.com/companies/axonivyag" class="icon fab fa-xing"><span class="label">XING</span></a></li>
          <li><a href="https://ch.linkedin.com/company/axon-ivy-ag" class="icon fab fa-linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCkoNcDoeDAVM7FB-txy3jnQ" class="icon fab fa-youtube"><span class="label">YouTube</span></a></li>
          <li><a href="/github" class="icon fab fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="https://hub.docker.com/r/axonivy/axonivy-engine" class="icon fab fa-docker"><span class="label">Docker</span></a></li>
        </ul>
        <a href="/support">Support</a> | 
        &copy; {{ "now"|date("Y") }} <a href="https://www.axonivy.com/">Axon Ivy AG</a>
      </div>
    </section>
  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
</body>
</html>
