<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F45MSFK8TN"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  </script>

  {% if block("meta") is defined %}  
    {{ block("meta")|raw }}
  {% else %}
    <meta name="description" content="Automate your business processes with the Axon Ivy Platform">  
    <meta property="og:image" content="https://developer.axonivy.com/images/misc/axonivy-logo-round.png">
    <meta property="og:image:alt" content="Axon Ivy Logo">
  {% endif %}


  <title>{% block title %} | DEV Axon Ivy{% endblock %}</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/icons.css" />
  <link rel="stylesheet" href="/assets/css/primeflex-2.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="icon" href="/images/favicon.png">

  <!-- sticky footer styles -->
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    .sticky-footer-wrapper {
      min-height: 100%;
      /* Equal to height of footer */
      /* But also accounting for potential margin-bottom of last child */
      margin-bottom: -11rem;
    }
    #footer, .sticky-footer-push {
      height: 11rem;
    }
    a {
      color: #007095;
    }
    .button {
      text-transform: none;
    }
    #header .button.special.download,
    #navPanel .button.special.download {
      background-color: #C7D426; 
      color: #1b1b1b; 
      font-weight: normal;
      border-radius: 30px;
      min-width: 200px;
      border-color: #C7D426;
      height: 3rem;
      line-height: 2.7rem;
    }
    #header a .sidebar-only {
      display: none;
    }
  </style>
</head>

<body class="is-loading">
  <header id="header">
    <div class="inner">
      <a href="/" class="logo"> <img src="/images/misc/axonivy-logo.svg" style="width: 200px; height: 3rem; margin-top: 1rem; vertical-align: initial;" alt="Axon Ivy"> </a>
      <nav id="nav">
        <a class="button special download" href="/download">Download {{ CURRENT_VERSION_DOWNLOAD }}</a>
        <a href="/news"><i class="si si-news sidebar-only"></i>News</a>
        <a href="/doc"><i class="si si-book sidebar-only"></i>Doc</a>
        <a href="/tutorial"><i class="si si-tutorial sidebar-only"></i>Tutorial</a>
        <a href="https://community.axonivy.com/" target="_blank" rel="noreferrer"><i class="si si-answers sidebar-only"></i>Community</a>
        <a href="/team"><i class="si si-team sidebar-only"></i>Team</a>
        <a href="https://market.axonivy.com"><i class="si si-shop sidebar-only"></i>Market</a>
        <a href="/search" aria-label="Search"><i class="si si-search"></i><span class="sidebar-only">Search</span></a>
      </nav>
    </div>
  </header>

  <a role="button" onclick="showNavPanel()" class="navPanelToggle"><span class="si si-menu"></span></a>

  <div class="sticky-footer-wrapper">
    {% block global %}{% endblock %}

    {% if hideFooter is not defined %}
      <div class="sticky-footer-push"></div>
    {% endif %}
  </div>

  {% if hideFooter is not defined %}
    <section id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="https://twitter.com/AxonivyPlatform" class="icon fa-brands fa-twitter" aria-label="Twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/axonivy/" class="icon fa-brands fa-facebook" aria-label="Facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.xing.com/companies/axonivyag" class="icon fa-brands fa-xing" aria-label="XING"><span class="label">XING</span></a></li>
          <li><a href="https://ch.linkedin.com/company/axon-ivy-ag" class="icon fa-brands fa-linkedin" aria-label="Linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCkoNcDoeDAVM7FB-txy3jnQ" class="icon fa-brands fa-youtube" aria-label="YouTube"><span class="label">YouTube</span></a></li>
          <li><a href="/github" class="icon fa-brands fa-github" aria-label="GitHub"><span class="label">GitHub</span></a></li>
          <li><a href="https://hub.docker.com/r/axonivy/axonivy-engine" class="icon fa-brands fa-docker" aria-label="Docker"><span class="label">Docker</span></a></li>
        </ul>
        <a href="/support">Support</a> | 
        &copy; {{ "now"|date("Y") }} <a href="https://www.axonivy.com/">Axon Ivy AG</a>
      </div>
    </section>
  {% endif %}

  <script src="/assets/js/main.js"></script>
  </body>
</html>
