{% extends "_parts/base.twig" %}

{% block title %}Community{{ parent() }}{% endblock %}

{% block content %}

<section id="three">
  <div class="inner">
    <article class="alt">
      <div class="content">
        <span class="icon icon-customized fab fa-github"></span>
        <header>
          <h3>Axon Ivy</h3>
        </header>
        <p>Our official repository for opensource plugins, containers and examples on GitHub.</p>
        <ul class="actions">
          <li>
            <a href="https://github.com/axonivy/" class="button special"><span class="icon fab fa-github"></span>Axon Ivy</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <span class="icon icon-customized fab fa-github"></span>
        <header>
          <h3>Axon Ivy samples</h3>
        </header>
        <p>See how we would do it, by having a look at our demos and samples on GitHub.</p>
        <ul class="actions">
          <li>
            <a href="https://github.com/ivy-samples/" class="button special"><span class="icon fab fa-github"></span>Axon Ivy samples</a>
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="content">
        <span class="icon icon-customized fab fa-github"></span>
        <header>
          <h3>Axon Ivy supplements</h3>
        </header>
        <p>The Axon Ivy Supplements are community driven add-ons. Fork
          them on GitHub.</p>
        <ul class="actions">
          <li>
            <a href="https://github.com/ivy-supplements" class="button special"><span class="icon fab fa-github"></span>Axon Ivy supplements</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

{% endblock %}
