{% extends "_parts/base.twig" %}

{% block title %}Community{{ parent() }}{% endblock %}

{% block content %}

<section id="two">
	<div class="inner">
		<article>
			<div class="content">
				<span class="icon icon-customized fab fa-github"></span>
				<header>
					<h3>ivy Supplements</h3>
				</header>
				<p>The Axon.ivy Supplements are community driven add-ons. Fork
					them on GitHub.</p>
				<ul class="actions">
					<li><a href="https://github.com/ivy-supplements" class="button special">ivy-supplements</a></li>
				</ul>
			</div>
		</article>

		<article class="alt">
			<div class="content">
				<span class="icon icon-customized fab fa-github"></span>
				<header>
					<h3>Axon.ivy Samples on GitHub</h3>
				</header>
				<p>See how it works on GitHub.</p>
				<ul class="actions">
					<li><a href="https://github.com/ivy-samples/" class="button special">Axon.ivy samples</a></li>
				</ul>
			</div>
		</article>
	</div>
</section>

<section id="one">
	<div class="inner-small">
		<article>
			<div class="content">
				<header>
					<h1>Question &amp; Answer (Q &amp; A)</h1>
				</header>
				<p>Do you have a question? In our active community, users help
					each other. Many questions have already been answered in our Q
					&amp; A! In addition, other users are happy if you share your
					knowledge in the community.</p>
				<ul class="actions">
					<li><a href="https://community.axonivy.com/"class="button special">Q &amp; A</a></li>
				</ul>
			</div>
		</article>
	</div>
</section>

{% endblock %}