# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{php,css,js,twig,json,xml}]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[{Jenkinsfile,README.md}]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
