/backend/vendor
/frontend/node_modules
/frontend/.astro
/frontend/test-results/
/frontend/playwright-report/
/frontend/blob-report/
/frontend/playwright/.cache/
/frontend/playwright/.auth/
/backend/src/cache
/backend/src/logs
.phpunit.result.cache
.sonar
.scannerwork
/backend/src/web/documentation
/backend/src/web/swagger
bom.json
/backend/src/web/astro/
/.pnpm-store
