/vendor
/frontend/node_modules
/frontend/.astro
/src/cache
/src/logs
composer.phar
.phpunit.result.cache
.sonar
.scannerwork
/src/web/documentation
/src/web/swagger
bom.json
/src/web/astro/
/.pnpm-store
