{% extends "templates/parts/base_content.html" %}

{% block title %}Shop{{ parent() }}{% endblock %}

{% block content %}

   <section id="main" >
		<div class="inner">
			<header><h1><span class="icon fas fa-store "></span> Store</h1></header>
			
			<p>
				In our shop we provide powerful extensions around the Axon.ivy Platform.
				From complete workflow user interfaces, components to generate documents to simple demo projects and much more.
				Take a look around.
			</p>
					
			<div class="row">
				{% for product in products %}
					<div class="6u 12u$(xsmall)">
						<header><h3>{{ product.name }}</h3></header>					
						<img src="{{ product.imgSrc }}" alt="{{ product.name }}" class="image fit"/>
						
						<ul class="actions">
							<li><a href="{{ product.url }}" class="button special">Checkout</a></li>
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
