{% extends "_parts/base.twig" %}

{% block title %}Support{{ parent() }}{% endblock %}

{% block content %}

<style>
  .no-signs {
    list-style-type: none;
    padding-left: 0px;
  }
  .no-signs li span {
    margin-right:10px;
  }	
</style>

<section id="main">
  <div class="inner">
    <header>
      <h1>Support</h1>
    </header>
    
    <p>
      Axon Ivy Support is committing to provide high-quality, technical support for quick problem solving, training or consulting.
      This protects your Axon Ivy investment and lets all participants sleep well.
    </p>

  </div>
</section>

<section id="one">
  <div class="inner">
    <h3>To get support please contact us</h3>
    <ul class="no-signs">
      <li><i class="si si-ticket"></i> create a ticket in our <a href="https://support.axonivy.com">help center</a></li>
      <li><i class="si si-email"></i> <a href="mailto:ivy@axonivy.com">ivy@axonivy.com</a></li>
    </ul>
  </div>
</section>

{% endblock %}
