{% extends "_parts/base.twig" %}

{% block title %}Support{{ parent() }}{% endblock %}

{% block content %}

<style>
  .no-signs {
    list-style-type: none;
    padding-left: 0px;
  }
  .no-signs li span {
    margin-right:10px;
  }	
</style>

<section id="main" class="inverse">
  <div class="inner">
    <header><h1><span class="icon fas fa-question-circle "></span> Support</h1></header>
    
    <p>
      Axon Ivy Support is committing to provide high-quality, technical support for quick problem solving, training or consulting.
      This protects your Axon Ivy investment and lets all participants sleep well.
    </p>

  </div>
</section>

<section id="one">
  <div class="inner">
    <h3>To get support please contact us</h3>
    <ul class="no-signs">
      <li><span class="icon fas fa-ticket-alt"></span> create a ticket in our <a href="https://support.axonivy.com">help center</a></li>
      <li><span class="icon fas fa-envelope"></span> <a href="mailto:ivy@axonivy.com">ivy@axonivy.com</a></li>
      <li><span class="icon fas fa-phone"></span> +41 58 666 35 55</li>
    </ul>
  </div>
</section>

{% endblock %}
