{% extends "_parts/base.twig" %}

{% block title %}Support{{ parent() }}{% endblock %}

{% block content %}

<style>
  .no-signs {
    list-style-type: none;
    padding-left: 0px;
  }
  .no-signs li span {
    margin-right: 10px;
  }
  .hint {
    font-size: small;
    font-style: italic;
  }
</style>

<section id="main">
  <div class="inner">
    <header>
      <h1>Support</h1>
    </header>
    
    <p>
      Axon Ivy Support is committing to provide high-quality, technical support for quick problem solving, training or consulting.
      This protects your Axon Ivy investment and lets all participants sleep well.
    </p>

    <div>
      <span>If you open a support ticket, please share the following information: <span class="hint">(* if available)</span></span>
      <ul class="no-signs">
        <li><i class="si si-check"></i> <b>Product / Service:</b> Designer, Engine, REST Service, Web Service or Database</li>
        <li><i class="si si-check"></i> <b>Version:</b> E.g. 8.0.20</li>
        <li><i class="si si-check"></i> <b>Description:</b> Detailed description of your problem</li>
        <li><i class="si si-check"></i> <b>* Way to reproduce:</b> Detailed way how your bug or problem can be reproduced</li>
        <li><i class="si si-check"></i> <b>* Stacktrace / Log:</b> Share stacktraces as text or log files as attachments</li>
        <li><i class="si si-check"></i> <b>* Screenshots:</b> Share screenshots as attachments</li>
        <li><i class="si si-check"></i> <b>* Configuration:</b> Share your yaml configuration files as text or attachment</li>
      </ul>
    </div>

  </div>
</section>

<section id="one">
  <div class="inner">
    <h3>To get support please contact us</h3>
    <ul class="no-signs">
      <li><i class="si si-ticket"></i> create a ticket in our <a href="https://support.axonivy.com">help center</a></li>
      <li><i class="si si-email"></i> 
        <a href="mailto:support@axonivy.com?subject=Issue%20Title&body=Deliver%20detailed%20information%20about%20your%20problem%2C%20like%3A%0A%0A-%20Product%20%2F%20Service%3A%20E.g.%20Designer%2C%20Engine%2C%20REST%20Service%2C%20Web%20Service%20or%20Database%0A-%20Version%3A%20E.g.%208.0.20%0A-%20Description%3A%20Detailed%20description%20of%20your%20problem%0A-%20*%20Way%20to%20reproduce%3A%20Detailed%20way%20how%20your%20bug%20or%20problem%20can%20be%20reproduced%0A-%20*%20Stacktrace%20%2F%20Log%3A%20Share%20stacktraces%20as%20text%20or%20log%20files%20as%20attachments%0A-%20*%20Screenshots%3A%20Share%20screenshots%20as%20attachments%0A-%20*%20Configuration%3A%20Share%20your%20yaml%20configuration%20files%20as%20text%20or%20attachment">support@axonivy.com</a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
