{% extends "templates/parts/base_content.html" %}

{% block title %}{{ product.name }} | Axon.ivy Market {{ parent() }}{% endblock %}

{% block content %}


	<section id="main" >
		<div class="inner">
			<header>
				<h1 style="float:left;"><span class="icon fas fa-store "></span> Axon.ivy Market - {{ product.name }}</h1>
				<select name="version" id="version" onchange="location = this.value;" style="width:auto;float:right;">
					{% for version in product.versions %}
						<a href="#">
							<option value="{{ product.url }}/{{ version }}" {{ (version == selectedVersion) ? 'selected' : '' }}>Version {{ version }}</option>
						</a>
					{% endfor %}
				</select>
			</header>
			
			<div class="row">
				<div class="6u 12u$(xsmall)">
					{{ product.description|raw }}
					
					
						{% for artifact in docArtifacts %}
						    {% if artifact.docExists(selectedVersion) %}
								&ensp;<a href="{{ artifact.getDocUrl(selectedVersion) }}"><span class="icon fas fa-book"></span> {{ artifact.name }}</a>
							{% endif %}
					    {% endfor %}
					 
				</div>
				<div class="6u 12u$(xsmall)" >
					<img src="{{ product.imgSrc }}" class="image fit" style="max-width: 680px;" />
				</div>
				
	    	</div>
		</div>
	</section>
	
	
	<section id="two" style="padding-top: 60px;">
				<div class="inner">
					<article>
						<div class="content">
						
						    <header>
								<h3>Download</h3>
							</header>
							<div>
							    <ul>
								{% for artifact in mavenArtifacts %}
								<li>
									<a style="font-size:16px;" href="{{ artifact.getUrl(selectedVersion) }}">
									{{ artifact.name }} {{ selectedVersion }}
									</a>
									</li>
							    {% endfor %}
							    </ul>
							</div>
						
							{% if product.importWizard %}
	  						    <header>
									<h3>Import</h3>
								</header>
								<div>
									<p>
										You can use the import wizard in Axon.ivy Designer
										<br ><i style="font-size:12px;">File > Import > Axon.ivy > Ivy Projects</i>					
									</p>
									<img src="/images/market/import-wizard.png" class="image fit" />
								</div>
							{% endif %}
							
						</div>
					</article>
					<article class="alt">
						<div class="content">
						
						
						{% if mavenArtifactsAsDependency is not empty %}
						
							<header>
								<h3>Maven</h3>
							</header>
							<div>
								<p>
									You can consume it as maven artifact in your <i>pom.xml</i>
								</p>
								{% for artifact in mavenArtifactsAsDependency %}

									<pre><code>&lt;!-- {{ artifact.name }} --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;{{ artifact.groupId }}&lt;/groupId&gt;
  &lt;artifactId&gt;{{ artifact.artifactId }}&lt;/artifactId&gt;
  &lt;version&gt;{{ selectedVersion }}&lt;/version&gt;
  &lt;type&gt;{{ artifact.type }}&lt;/type&gt;
&lt;/dependency&gt;</code></pre>

							    {% endfor %}
							</div>
						
						 {% endif %}
							
						</div>
					</article>
				</div>
			</section>

{% endblock %}
