<h1>Axon.ivy Maven Engine Archive</h1>
<p>The engine archive that can be used with the Maven plugin <code>com.axonivy.ivy.ci:project-compile-plugin</code>.</p>

{% for release in releases %}
	<h2>Release {{ release.version }} </h2>
	<ul>
		{% for artifact in release.artifacts %}
			<li><a href="{{ artifact.url }}">{{ artifact.filename }}</a></li>
		{% endfor %}
	</ul>
{% endfor %}
