<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} | Axon.ivy{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href="/images/ivy_favicon_48.png">
    </head>
    <body>
		<header id="header">
			<div class="inner">
				 
				<a href="/" class="logo">
					<img class="logo" style="width:180px;margin-top:20px;" src="/images/axonivy-logo-dev.png" />
					<span id="navtext" style="margin-left:190px;">for developers</span>
				</a>
				<!-- 
				<span class="logo">for developers</span>
				 -->
				<nav id="nav">
					<a href="/download">Download</a>
					<a href="/doc">Doc</a>
					<a href="/tutorial">Tutorial</a>
					<a href="https://answers.axonivy.com/" target="_blank">Q&amp;A</a>
					<a href="/team">Team</a>
				</nav>
			</div>
		</header>
		
		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	
        <div>
            {% block global %}{% endblock %}
        </div>

		<section id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://twitter.com/AxonivyPlatform" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/axonivy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.xing.com/companies/axonivyag" class="icon fa-xing"><span class="label">XING</span></a></li>
					<li><a href="https://ch.linkedin.com/company/axon-ivy-ag" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCkoNcDoeDAVM7FB-txy3jnQ" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
					<li><a href="https://github.com/axonivy" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					&copy; {{ "now"|date("Y") }} <a href="https://www.axonivy.com/">AXON IVY AG</a>
				</div>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>