<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} | DEV AXON Ivy{% endblock %}</title>
        <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	      ga('create', 'UA-54715257-1', 'auto');
	      ga('send', 'pageview');
    	</script>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href="/images/favicon.png">

        <!-- sticky footer styles -->
        <style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.sticky-footer-wrapper {
			min-height: 100%;
			/* Equal to height of footer */
			/* But also accounting for potential margin-bottom of last child */
			margin-bottom: -230px;
		}
		#footer, .sticky-footer-push {
			height: 230px;
		}
		a {
			color: #007095;
		}
		.button {
			text-transform: none;
		}
		</style>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    </head>
    <body>

		<header id="header">
			<div class="inner">
				<a href="/" class="logo">
					<img src="/images/misc/axonivy-logo.svg" style="width:180px;position:relative;top:15px;">
				</a>

				<nav id="nav">
					<a href="https://release.axonivy.com" target="_blank" style="c">Release 8.0 <span style="margin-left:2px;" class="icon fas fa-rocket"></span></a>
					<a class="button special" href="/download">Download {{ CURRENT_VERSION_DOWNLOAD }}</a>
					<a href="/news">News</a>
					<a href="/doc">Doc</a>
					<a href="/tutorial">Tutorial</a>
					<a href="https://answers.axonivy.com/" target="_blank">Q&amp;A</a>
					<a href="/team">Team</a>
					<a href="/market"><span class="icon fas fa-store"></span></a>
					<a href="/search"><span class="icon fas fa-search"></span></a>
				</nav>
			</div>
		</header>

		<a href="#menu" class="navPanelToggle"><span class="fa fas fa-bars"></span></a>

        <div class="sticky-footer-wrapper">
            {% block global %}{% endblock %}

            <div class="sticky-footer-push"></div>
        </div>

	<section id="footer">
			<div class="inner">
						<ul class="icons">
							<li><a href="https://twitter.com/AxonivyPlatform" class="icon fab fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/axonivy/" class="icon fab fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.xing.com/companies/axonivyag" class="icon fab fa-xing"><span class="label">XING</span></a></li>
							<li><a href="https://ch.linkedin.com/company/axon-ivy-ag" class="icon fab fa-linkedin"><span class="label">Linkedin</span></a></li>
							<li><a href="https://www.youtube.com/channel/UCkoNcDoeDAVM7FB-txy3jnQ" class="icon fab fa-youtube"><span class="label">YouTube</span></a></li>
							<li><a href="https://github.com/axonivy" class="icon fab fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://hub.docker.com/r/axonivy/axonivy-engine" class="icon fab fa-docker"><span class="label">Docker</span></a></li>
						</ul>
						<a href="/community">Community</a>
						 |
						<a href="/support">Support</a>
						 |
						&copy; {{ "now"|date("Y") }} <a href="https://www.axonivy.com/">AXON Ivy AG</a>
			</div>
		</section>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>