{% extends "templates/parts/base_content.html" %}

{% block title %}News{{ parent() }}{% endblock %}

{% block content %}

<style>
	.lts-marker {
		background-color: black;
		padding: 4px;
		color:white;
		padding-right: 10px;
		padding-left: 10px;
	}

	.fixes {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 20px;
		font-weight: 800;
		width: 210px;
	}
	p {
		line-height: 26px;
	}
	h3 {
		margin-bottom: 5px;
	}
	h5 {
		margin-bottom: 3px;
	}
</style>

<section id="one" class="inverse">
	<div class="inner">
		<header>
			<h1><span class="icon fas fa-newspaper"></span> What's new</h1>
		</header>
		<p>
			We continuously release new versions of the Axon.ivy platform.
			Here you can get an insight into the new features.
		</p>
	</div>
</section>

<section id="one">
	<div class="inner">
		<h3 >Axon.ivy 8.0 <span class="lts-marker">LTS</span> <span style="font-weight:80;">| Smart, smarter, Axon.ivy Digital Business Platform</span></h3>
		<p class="date-section">December 4th, 2019</p>
		
		<div class="row">
			<div class="4u 12u$(xsmall)">
				<img class="image fit" src="/images/news/8.0/80_cockpit_monitor.png" />
			</div>
			<div class="4u 12u$(xsmall)">
				<h5>Engine Cockpit</h5>
				<p>Our new Engine Cockpit has now become a mighty successor of the AdminUI with a rich feature set.
					It's completely based on web technologies and simply open in your favorite browser or even on mobile devices.</p>

				<h5>Highly Configurable</h5>
					<p>Successfully deploying your application in your customers environment is now easier than ever.
					The days of manual installations and the related chatty documentation are over!</p>
					<h5>Portal</h5>
				<p>We re-styled the Portal application completely and implemented a lot of new features.</p>
			</div>
			<div class="4u$ 12u$(xsmall)">
				
				<h5>More glance and glory</h5>
				<ul>
					<li>Setup Wizard</li>
					<li>Debian Engine Installer</li>
					<li>Run in Container</li>
					<li>Instant Deployment</li>
					<li>New Web Service Client Tooling</li>
					<li>Custom Fields</li>
					<li>Modern Platform</li>
					<li>Native MAC & GTK3 Development</li>
					<li>Customizable Designer</li>
				</ul>
				<div class="fixes">
					<span class="fas fa-rocket"></span> 64 Improvements
				</div>
				<div class="fixes">
					<span class="fas fa-bug"></span> 266 Bug Fixes
				</div>
				
			</div>
		</div>			
		<a href="/news/8.0" class="button special">Read more</a>
	</div>
</section>


{% endblock %}
