<style>
  .product-data {
    margin-top: 1em;
  }
  .product-data > div {
    max-width: 100%;
    text-align: center;
    gap: 8em;
  }
  .product-data .p-col-fixed > div{
    margin: 0.5em 0;
  }
  .product-data-title {
    font-size: 12px;
    color: #c7c7c7;
  }
  .product-data-content {
    line-height: 38px;
  }
  .product-data-content .si {
    width: 30px;
    height: 30px;
    background-color: #007095;
  }
  .product-data-content span {
    font-size: 32px;
    font-weight: 700;
    color: #007095;
  }
  .product-data-info {
    font-size: 14px;
    font-weight: 700;
    color: #007095;
  }
  .product-data-info .si {
    width: 1em;
    height: 1em;
    background-color: #007095;
  }
  @media screen and (max-width: 768px) {
    .product-data > div {
      gap: 4em;
    }
  }
  @media screen and (max-width: 500px) {
    .product-data > div {
      gap: 1em;
    }
  }
</style>

<section class="product-data">
  <div class="p-grid p-justify-center">
    <div class="p-col-fixed">
      <div class="product-data-title">
        <span>Review</span>
      </div>
      <div class="product-data-content">
        <span>{{ product.platformReview }}</span>
      </div>
      <div class="product-data-info">
        {% for i in range(1, product.starCount) %}
          <i class="si si-star-bold"></i>
        {% endfor %}
        {% if product.halfStar %}
          <i class="si si-star-half-bold"></i>
        {% endif %}
      </div>
    </div>

    {% if installButton.isShow %}
      <div class="p-col-fixed">
        <div class="product-data-title">
          <span>Installations</span>
        </div>
        <div class="product-data-content">
          <span>{{ product.installationCount }}</span>
        </div>
        <div class="product-data-info">
          <span>times</span>
        </div>
      </div>
    {% endif %}

    <div class="p-col-fixed">
      <div class="product-data-title">
        <span>Type</span>
      </div>
      <div class="product-data-content">
        <i class="si {{ product.typeIcon }}"></i>
      </div>
      <div class="product-data-info">
        <span style="text-transform: capitalize;">{{ product.type }}</span>
      </div>
    </div>
  </div>
</section>
