/* General */
.p-sm-1, .p-sm-2, .p-sm-3, .p-sm-4, .p-sm-5, .p-sm-6, .p-sm-7, .p-sm-8, .p-sm-9, .p-sm-10, .p-sm-11, .p-sm-12, .p-md-1, .p-md-2, .p-md-3, .p-md-4, .p-md-5, .p-md-6, .p-md-7, .p-md-8, .p-md-9, .p-md-10, .p-md-11, .p-md-12, .p-lg-1, .p-lg-2, .p-lg-3, .p-lg-4, .p-lg-5, .p-lg-6, .p-lg-7, .p-lg-8, .p-lg-9, .p-lg-10, .p-lg-11, .p-lg-12, .p-xl-1, .p-xl-2, .p-xl-3, .p-xl-4, .p-xl-5, .p-xl-6, .p-xl-7, .p-xl-8, .p-xl-9, .p-xl-10, .p-xl-11, .p-xl-12 {
  padding: .75rem;
}

/* Home page */
.fixed-news-image {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10000;
}
.fixed-news-image img {
  width: 15rem;
}
.fixed-news-image .close-button {
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 2px solid #007095;
  padding: 5px;
  position: fixed;
  right: 1em;
  cursor: pointer;
}
.fixed-news-image .close-button::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: -5px;
  background-image: url('/images/icons/close.svg');
}

/* Download page */
.download-infos {
  float: right; 
  font-size: 18px; 
  text-align: right;
  position: relative;
  top: 5px;
}
.download-infos .release-notes-info {
  font-size: 16px; 
  font-weight: normal;
}
.download-infos .si { 
  height: 1em; 
  width: 1em;
  top: 2px;
  margin-right: 0.2em;
}
@media screen and (max-width: 870px) {
  .download-infos {
    float: none;
    font-size: 13px;
    text-align: left;
  }
  .download-infos .release-notes-info {
    font-size: 12px; 
  }
}

/* Doc page */
.doc-dropbtn {
  font-size: 14px;
  cursor: pointer;
}
.doc-dropdown {
  position: relative;
  float: right;
  width: auto;
  min-width: auto;
}
.doc-dropdown-content {
  display: none;
  position: absolute;
  right: -2em;
  background-color: #f9f9f9;
  min-width: 13em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  line-height: 1.5em;
  font-weight: normal; 
  text-align: start;
}
.doc-dropdown-content > span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  padding-left: 15px; 
  color: #1b1b1b;
}
.doc-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.button .doc-dropdown-content .si {
  background-color: #1b1b1b;
  margin: 0;
}
.doc-dropdown-content a:hover {
  background-color: #f1f1f1;
}
.doc-dropdown:hover .doc-dropdown-content,
.doc-dropdown.active-dropdown .doc-dropdown-content {
  display: block;
}

/* Deprecation page */
.versions th {
  font-weight: normal;
  text-align: center;
}
.deprecation-icon {
  text-align: center;
}
.deprecation-released::after {
  content: "⭐";
}
.deprecation-ok::after {
  content: "✔️";
}
.deprecation-deprecated::after {
  content: "⚠️";
}
.deprecation-removed::after {
  content: "❌";
}
.deprecation-info::after {
  content: "ⓘ";
}

/* Team page */
.team-card {
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(27, 27, 27, 0.24);
}
.team-card img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  height: 250px;
  aspect-ratio: 3 / 5;
  object-fit: cover;
}
.team-member {
  margin-left: 6rem;
  margin-right: 0;
  padding: 1em;
  height: 100%;
}
.team-member h4 {
  font-size: 1em;
}
.team-member p {
  margin-bottom: 1em;
  font-size: 14px;
  color: #3a3a3a;
  line-height: 1.5em;
  max-height: 6em;
  overflow: hidden;
}
