/* General */
.p-sm-1, .p-sm-2, .p-sm-3, .p-sm-4, .p-sm-5, .p-sm-6, .p-sm-7, .p-sm-8, .p-sm-9, .p-sm-10, .p-sm-11, .p-sm-12, .p-md-1, .p-md-2, .p-md-3, .p-md-4, .p-md-5, .p-md-6, .p-md-7, .p-md-8, .p-md-9, .p-md-10, .p-md-11, .p-md-12, .p-lg-1, .p-lg-2, .p-lg-3, .p-lg-4, .p-lg-5, .p-lg-6, .p-lg-7, .p-lg-8, .p-lg-9, .p-lg-10, .p-lg-11, .p-lg-12, .p-xl-1, .p-xl-2, .p-xl-3, .p-xl-4, .p-xl-5, .p-xl-6, .p-xl-7, .p-xl-8, .p-xl-9, .p-xl-10, .p-xl-11, .p-xl-12 {
  padding: .75rem;
}

/* Home page */
.fixed-news-image {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10000;
}
.fixed-news-image img {
  width: 15rem;
}
.fixed-news-image .close-button {
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 2px solid #007095;
  padding: 5px;
  position: fixed;
  right: 1em;
  cursor: pointer;
}
.fixed-news-image .close-button::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: -5px;
  background-image: url('/images/icons/close.svg');
}

/* Team page */
.team-card {
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(27, 27, 27, 0.24);
}
.team-card img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  height: 250px;
}
.team-member {
  margin-left: 6rem;
  padding: 1em;
  height: 100%;
}
.team-member h4 {
  font-size: 1em;
}
.team-member p {
  margin-bottom: 1em;
  font-size: 14px;
  color: #3a3a3a;
  line-height: 1.5em;
  max-height: 6em;
  overflow: hidden;
}

/* Market Overview */
.product-card {
  position: relative;
  cursor: pointer;
  background-color: white;
  padding: 1.5em;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(27, 27, 27, 0.24);
  border-radius: 8px;
  height: 100%;
}
.product-type {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: hsl(0, 0%, 79%);
}
.product-type.connector {
  background-color: hsl(65, 65%, 50%);
}
.product-type.process {
  background-color: hsl(46, 100%, 58%);
}
.product-type.solution {
  background-color: hsl(164, 59%, 40%);
}
.product-type.util {
  background-color: hsl(192, 63%, 56%);
}
.product-logo {
  height: 100px;
  margin-top: 1.5em;
}
.product-logo img {
  max-height: 100%; 
  max-width: 100%;
}
.product-tags {
  margin: 0;
  overflow: hidden;
}
.product-tag {
  color: white;
  font-size: 14px;
  padding: 6px 12px;
  background-color: #007095;
  border-radius: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0.5em 0.5em;
}
.product-title {
  margin-top: 2em;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1.25em;
}
.product-desc {
  max-height: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}
input::placeholder {
  color: #1b1b1b;
}
#main .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #007095 2px;
}
#main .select2-container--default .select2-search__field {
  line-height: 100%;
}
#main .select2-selection--multiple {
  padding-top: 18px;
  height: 3.3em;
}
#main .select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 40%;
  background-image: url('/images/icons/arrow-down-1.svg');
  width: 12px;
  height: 12px;
}
#main .select2-selection__choice {
  font-size: 12px;
  line-height: 2em;
}
#main .selection {
  line-height: 10px;
}
.dropdown {
  position: relative;
  width: 100%;
  min-width: 240px;
  display: inline-block;
}
.dropdown label {
  position: absolute;
  top: 3px;
  left: 1rem;
  font-weight: normal;
  font-size: 12px;
  color: #1b1b1b;
  text-transform: none;
  z-index: 1;
}

.types {
  margin-top: 3em;
  width: 100%;
}
.types .type {
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 2em;
  border: solid 2px;
  cursor: pointer;
  border-color: hsl(0, 0%, 79%);
}
.types .type.selected {
  font-weight: 700;
  color: white;
}
.types .selected[data-filter=''] {
  color: #1b1b1b;
}
.types .selected[data-filter=''] .si {
  color: #1b1b1b;
  background-color: #1b1b1b;
}
.types .type:hover:not(.selected) {
  background-color: hsl(0, 0%, 95%);
}
.types .type[data-filter='connector'] {
  border-color: hsl(65, 65%, 50%);
}
.types .selected[data-filter='connector'] {
  background-color: hsl(65, 65%, 50%);
}
.types [data-filter='connector']:hover:not(.selected) {
  background-color: hsl(65, 65%, 95%);
}
.types .type[data-filter='process'] {
  border-color: hsl(46, 100%, 58%);
}
.types .selected[data-filter='process'] {
  background-color: hsl(46, 100%, 58%);
}
.types [data-filter='process']:hover:not(.selected) {
  background-color: hsl(46, 100%, 95%);
}
.types .type[data-filter='solution'] {
  border-color: hsl(164, 59%, 40%);
}
.types .selected[data-filter='solution'] {
  background-color: hsl(164, 59%, 40%);
}
.types [data-filter='solution']:hover:not(.selected) {
  background-color: hsl(164, 59%, 95%);
}
.types .type[data-filter='util'] {
  border-color: hsl(192, 63%, 56%);
}
.types .selected[data-filter='util'] {
  background-color: hsl(192, 63%, 56%);
}
.types [data-filter='util']:hover:not(.selected) {
  background-color: hsl(192, 63%, 95%);
}
.types .selected .si {
  background-color: white;
}

@media screen and (max-width: 500px) {
  .p-col-6 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .product-card {
    padding: 1em;
  }
  .product-tag {
    font-size: 12px;
    padding: 4px 8px;
  }
  .product-logo {
    height: 80px;
    margin-top: 1em;
  }
  .product-title {
    margin-top: 1em;
    font-size: 17px;
    margin-bottom: 0.5em;
  }
  .product-desc {
    max-height: 4.5em;
    font-size: 14px;
  }
}
