<p>
	1. Install Axon.ivy Engine as Debian Package
</p>

<pre><code>wget https://developer.axonivy.com/permalink/{{ minorVersion }}/axonivy-engine.deb
sudo apt install ./axonivy-engine.deb</code></pre>

<p>
	2. Learn more about <a href="/doc/{{ minorVersion }}/engine-guide/getting-started/debian.html">Axon.ivy Debian / Ubuntu Linux</a>
</p>

<br />
<img src="/images/installation/debian.gif" class="image fit" />
