<p>
  <span style="font-size:14px;"><i class="si si-bell"></i> Pay attention! This will automatically update an existing Axon Ivy engine Debian installation.</span>
</p>

<p>
  1. Install Axon Ivy Engine as Debian Package
</p>

<pre><code>wget https://developer.axonivy.com/permalink/{{ minorVersion }}/axonivy-engine.deb
sudo apt install ./axonivy-engine.deb</code></pre>

<p>
  2. Learn more about <a href="{{ moreInfoLink }}">Axon Ivy Debian / Ubuntu Linux</a>
</p>

<br />
<img src="/images/installation/debian.gif" class="image fit" />
