<p>
  1. Download the Axon.ivy Designer to your desired location
</p>

<ul class="actions">
  <li><a href="{{downloadUrl}}" class="button special">Download Axon.ivy Designer {{bugfixVersion}}</a></li>
</ul>

<img src="/images/installation/download-designer.png" />
<br /><br />

<p>
  2. Extract the downloaded zip file
</p>

<img src="/images/installation/extract-axonivy-designer.png" />
<br /><br />

<p>
  3. Follow the Tutorial to learn how to start and use the Designer.
</p>

<ul class="actions">
  <li><a href="https://www.axonivy.com/tutorials" class="button special">Start with your first project!</a></li>
</ul>
