<p>
	1. Install Docker by following the <a href="https://docs.docker.com/get-docker/">offical guide</a>
</p>

<p>
	2. Run Axon.ivy Engine as Docker Image
</p>

<pre><code>docker pull axonivy/axonivy-engine:{{ minorVersion }}
docker run -p 8080:8080 axonivy/axonivy-engine:{{ minorVersion }}</code></pre>

<p>
	3. Learn more about <a href="/doc/{{ minorVersion }}/engine-guide/getting-started/docker.html">Axon.ivy with Docker</a>
</p>

<br />
<img src="/images/installation/axonivy-engine-on-docker.png" class="image fit" />
