<p>
  1. Download the Axon Ivy Designer to your desired location
<ul class="actions">
  <li><a href="{{downloadUrl}}" class="button special"><i class="si si-download"></i> Download Axon Ivy Designer {{bugfixVersion}}</a></li>
</ul>
<img src="/images/installation/download-designer.png" />
</p>

<p>
  2. Extract the downloaded zip file and navigate into the extract Axon.ivy Designer directory.
  <img src="/images/installation/linuxDesigner/ubuntuExtract.png" />
</p>


<p>
  3. Run the <code>install-dependencies.sh</code> script in a Terminal, in order to install crucial dependencies.
  <img src="/images/installation/linuxDesigner/ubuntuRunInstallDeps.png" />
  Supply your sudoer password in order to allow privileged installers to run:
  <img src="/images/installation/linuxDesigner/ubuntuInstallDepsTerminal.png" />
</p>

<p>
  4. If you work on Ubuntu 20.04 or newer, switch to X.org Window system by logging out, clicking on the settings button
  and choosing <code>Ubuntu on Xorg</code>.
  <img src="/images/installation/linuxDesigner/ubuntuXorg.png" />
</p>

<ul class="actions">
  <li><a href="/tutorial" class="button special"><i class="si si-tutorial"></i> Start with your first project!</a></li>
</ul>
