<p>
  1. Download the Axon Ivy Designer
</p>

<ul class="actions">
  <li><a href="{{downloadUrl}}" class="button special">Download Axon Ivy Designer {{bugfixVersion}}</a></li>
</ul>

<p>
  2. Open the Downloads folder in Finder
</p>

<img src="/images/installation/mac_open_downloads.png" />
<br /><br />

<p>
  3. Copy Axon Ivy Designer to the Applications folder
</p>

<img src="/images/installation/mac_copy_to_applications.png" />
<br /><br />

<p>
  4. Open a new terminal at the Axon Ivy Designer folder 
</p>

<img src="/images/installation/mac_open_terminal.png" />
<br /><br />

<p>
  5. Execute the following command in the Terminal: <br />
  <code>sudo xattr -r -d com.apple.quarantine .</code> <br />
  This allows GateKeeper to start Axon Ivy Designer.
</p>



<img src="/images/installation/mac_xattr.png" />
<br /><br />

<p>
  5. Open Axon Ivy Designer
</p>

<img src="/images/installation/mac_open.png" />
<br /><br />

<p>
  6. You need a Java Developer Kit (JDK) to run Axon Ivy Designer. 
  If you haven't installed it yet you will see the following message. 
  Press <b>More Info ...</b> to learn how to install it.
</p>

<img src="/images/installation/mac_java.png" />
<br /><br />

<ul class="actions">
  <li><a href="https://www.axonivy.com/tutorials" class="button special">Start with your first project!</a></li>
</ul>
