{% extends "_parts/base.twig" %}

{% block title %}Installation{{ parent() }}{% endblock %}

{% block content %}

<section id="main">
  <div class="inner-small">
    <header>
      <h1>{{ title }}</h1>
    </header>
  </div>
</section>

<section id="main" >
  <div class="inner-small" style="">
    {% if type == "docker" %}
      {% include 'installation/_docker.twig' %}
    {% elseif product == "engine" %}
      {% include 'installation/_engine.twig' %}
    {% else %}
      {% if type == "MacOSX-BETA" or type == "macOS-BETA" or type =="macOS" %}
        {% include 'installation/_mac_designer.twig' %}
      {% elseif type == "Linux" %}
        {% include 'installation/_linux_designer.twig' %}
      {% else %}
        {% include 'installation/_designer.twig' %}
      {% endif %}
    {% endif %}
  </div>
</section>

{% if PRODUCTIVE_SYSTEM and startDownload %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      window.location.href = '{{ downloadUrl }}';
    });
  </script>
{% endif %}

{% endblock %}
