{% extends "_parts/base.twig" %}

{% block title %}Community{{ parent() }}{% endblock %}

{% block content %}

<section id="two">
  <div class="inner">
    <article class="alt">
      <div class="content">
        <header>
          <h3><i class="si si-github"></i> axonivy</h3>
        </header>
        <p>Our official place for all our open source projects.</p>
        <ul class="actions">
          <li>
            <a href="https://github.com/axonivy/" class="button special"><i class="si si-github"></i> github.com/axonivy</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <h3><i class="si si-github"></i> axonivy-market</h3>
        </header>
        <p>Open Source Ecosystem of the Axon Ivy Platform.</p>
        <ul class="actions">
          <li>
            <a href="https://github.com/axonivy-market/" class="button special"><i class="si si-github"></i> github.com/axonivy-market</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

{% endblock %}
