Options -Indexes +FollowSymLinks

DirectoryIndex index.php index.html 

Order allow,deny
Allow from all

RewriteEngine On

RewriteRule ^download/([0-9][^/]+)/(.+)$ /releases/ivy/$1/downloads/$2 [L]
RewriteRule ^download/nightly/(.+)$ /releases/ivy/nightly/$1 [L]
RewriteRule ^download/sprint/(.+)$ /releases/ivy/sprint/$1 [L]

RewriteRule ^doc/([^/]+)/(.+)$ /releases/ivy/$1/documents/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
