<article>
  <div class="content">
    <header>
      <h3><i class="si si-star"></i> Leading Edge</h3>
    </header>
    <p>Early access with newest features! Be prepared for frequent migrations.</p>
    <ul class="actions">
      <li>
        <a href="/download/leading-edge" class="button special min-width">
          <i class="si si-star"></i> Leading Edge
        </a>
      </li>
    </ul>
  </div>
</article>

<article>
  <div class="content">
    <header>
      <h3><i class="si si-archive"></i> Archive</h3>
    </header>
    <p>You are looking for older versions? Browse our archive!</p>
    <ul class="actions">
      <li>
        <a href="{{ archiveLink }}" class="button special min-width">
          <i class="si si-archive"></i> Archive
        </a>
      </li>
    </ul>
  </div>
</article>

<article>
  <div class="content">
    <header>
      <h3><i class="si si-lab-flask"></i> Dev Releases</h3>
    </header>
    <p>Future is Bright! Check our Sprint Release and Nightly Builds!</p>
    <ul class="actions">
      {% for devRelease in devReleases %}
        <li>
          <a href="{{ devRelease.url }}" class="button min-width">
            <i class="si si-lab-flask"></i> {{ devRelease.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
