<article>
	<div class="content">
		<span class="icon fas fa-star"></span>
		<header>
			<h3>Leading Edge</h3>
		</header>
		<p>Early access with newest features! Be prepared for frequent migrations.</p>
		<ul class="actions">
			<li>
				<a href="/download/leading-edge" class="button special">
					<i class="icon fas fa-star"></i> Leading Edge
				</a>
			</li>
		</ul>
	</div>
</article>

<article>
	<div class="content">
		<span class="icon fas fa-archive"></span>
		<header>
			<h3>Archive</h3>
		</header>
		<p>You are looking for older versions? Browse our archive!</p>
		<ul class="actions">
			<li>
				<a href="{{ archiveLink }}" class="button special">
					<i class="icon fas fa-archive"></i> Archive
				</a>
			</li>
		</ul>
	</div>
</article>

<article>
	<div class="content">
		<span class="icon fas fa-flask"></span>
		<header>
			<h3>Dev Releases</h3>
		</header>
		<p>Future is Bright! Check our Sprint Release and Nightly Builds!</p>
		<ul class="actions">
			{% for devRelease in devReleases %}
                <li>
					<a href="{{ devRelease.url }}" class="button">
						<i class="icon fas fa-flask"></i> {{ devRelease.name }}
					</a>
				</li>
            {% endfor %}		
		</ul>
	</div>
</article>
