{% extends "templates/parts/base_content.html" %}

{% block title %}Team{{ parent() }}{% endblock %}

{% block content %}

	<section id="main" class="inverse">
		<div class="inner-small">
			<header>
				<h1><span class="icon fas fa-thumbs-up"></span> ivyTeam (Switzerland)</h1>
			</header>
			<p>
				<b>ivyTeam</b> is the core development team of the <b>Axon.ivy Digital Business Platform</b>.
				The team is highly experienced in <b>agile software development</b>. Since the formation
				in the year <b>1993</b> the team is located in <b>Zug</b> in the heart of Switzerland.
			</p>
	
			{% for employee in employees %}
			{% if loop.index % 3 == 1 %}
			<div class="row">
			{% endif %}	
				<div class="4u 12u$(xsmall)">
					<header>
						<h4>{{ employee.name }}</h4>
					</header>
					{% if employee.imgSrc %}
					<img src="{{ employee.imgSrc }}" alt="{{ employee.name }}">
					{% else %}
					<div style="width:101px;height:170px;border:1px solid #C7D426;text-align:center;"></div>
					{% endif %}
					<p>{{ employee.function }}<br />{{ employee.education }}</p>
				</div>
			{% if loop.index % 3 == 0 %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>
<section id="one">
	<div class="inner">
		<div class="row">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.478560878836!2d8.295136951797458!3d48.0504619790493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b40af4685e176d7!2sAxon%20Active%20Inc.!5e0!3m2!1sde!2sch!4v1572873938939!5m2!1sde!2sch"
				style="width:100%;"
				allowfullscreen=""
				height="450"
				frameborder="0">
			</iframe>
		</div>
	</div>
</section>

{% endblock %}
