{% extends "templates/parts/base_content.html" %}

{% block title %}Team{{ parent() }}{% endblock %}

{% block content %}

	<section id="main" >
		<div class="inner">
			<header><h1><span class="icon fas fa-thumbs-up"></span> ivyTeam (Switzerland)</h1></header>
			<p>
				ivyTeam is the core development team of the Axon.ivy Digital Business Platform.
				The team is highly experienced in agile software development.
				The ivyTeam is located in Zug (Switzerland) since the formation in the year 1993.
			</p>
					
			<div class="row">
				{% for employee in employees %}
					<div class="4u 12u$(xsmall)">
						<header><h3>{{ employee.name }}</h3></header>
						
						{% if employee.imgSrc %}
							<img src="{{ employee.imgSrc }}" alt="{{ employee.name }}">
						{% else %}
							<div style="width:101px;height:170px;border:1px solid #C7D426;text-align:center;">
							</div>
						{% endif %}
							
						<p>{{ employee.education }}<br />{{ employee.function }}</p>
					</div>
				{% endfor %}
			</div>
			<hr />
			
			<h4>Address</h4>
				<p>
					AXON Ivy AG<br />
					Baarerstrasse 12<br />
					CH-6300 Zug
				</p>
		</div>
	</section>

{% endblock %}