<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI | DEV Axon Ivy</title>
    <link rel="stylesheet" href="/swagger/swagger-ui.css" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.png">
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="/swagger/swagger-ui-bundle.js" crossorigin="anonymous"></script>
    <script src="/swagger/swagger-ui-standalone-preset.js" crossorigin="anonymous"></script>
    <script>

    let params = new URL(window.location.href).searchParams;
    let configUrl = params.get('configUrl');
    let relative = new URL(document.baseURI).origin === new URL(configUrl, document.baseURI).origin;
    let whitelisted = 
      new URL(configUrl).origin === "https://json-schema.ivyteam.ch" || 
      new URL(configUrl).origin === "https://json-schema.axonivy.com";
    if (!relative && !whitelisted) {
      console.log("blocking "+configUrl);
      configUrl = "null";
    }

    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        dom_id: '#swagger-ui',
        configUrl: configUrl,
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })
      // End Swagger UI call region

      window.ui = ui
    }
  </script>
  </body>
</html>
