{% extends "_parts/base.twig" %}

{% block title %}Release Cycle{{ parent() }}{% endblock %}

{% block content %}

<style>
  .no-signs {
    list-style-type: none;
    padding-left: 0px;
  }
  .no-signs li span {
    margin-right:10px;
  }
</style>

<section id="main" class="inverse">
  <div class="inner">
    <header><h1><span class="icon fas fa-sync-alt"></span> Release Cycle</h1></header>
    <p>
      The releasing of the Axon.ivy Digital Business Platform follows a well defined release cycle
      which clearly differs between <b>Long Term Support (LTS)</b> and <b>Leading Edge (LE)</b> versions.
    </p>
  </div>
</section>

<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <span class="icon fas fa-balance-scale"></span>
        <header>
          <h3>Long Term Support (LTS)</h3>
        </header>
        
        <p>
          A LTS release is the <b>most stable version</b>.

          During the maintenance period of an LTS release we provide <b>several update releases</b> which contains
          mainly bug fixes and tiny improvements.
        </p>
        
        <p style="margin-top:-20px;">
          We always support the <b>two</b> latest LTS releases. 
        
          This <b>protects</b> a running, productive environment - an upgrade to a new update release comes with minimal risk.
          
          New LTS releases will always start with an <b>even</b> major version number.
        </p>
        <p>
          Current Long Term Support version: <b>{{ lts }}</b> 
        </p>
      </div>
    </article>
    
    <article class="alt">
      <div class="content">
        <header>
          <span class="icon fas fa-star"></span>
          <h3>Leading Edge (LE)</h3>
        </header>

        <p>
          As <b>early adopter</b> you are able to benefit already from the <b>newest features</b>
          with our <b>Leading Edge</b> release.
          
          We can only support the <b>latest</b> Leading Edge release,
          because of this you need to be ready for <b>frequent migrations</b>!
        </p>

        <p style="margin-top:-20px;">
          Taking the leading edge road is suitable if you start <b>new projects</b>.
          
          Leading Edge releases will start with an <b>odd</b> version number.
        </p>
        
        <p>
          Current Leading Edge version: <b>{{ le }}</b> 
        </p>
      </div>
    </article>
  </div>
</section>


<section id="one">
  <div class="inner">
    <h3>Estimated Release Plan</h3>
    <div class="row">
      <img src='/images/release-cycle.svg' class="image fit" alt="Release Cycle" />
    </div>
  </div>
</section>

{% endblock %}
