{% extends "templates/parts/base_content.html" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

	<section id="banner">
		<div class="inner">
			<h1>AXON.IVY DIGITIAL BUSINESS PLATFORM</h1>
			<ul class="actions">
				<li><a href="/download" class="button alt">Download {{ latestMinorVersion }}</a></li>
			</ul>
		</div>
	</section>

	{% for feature in features %}
		<section id="one">
			<div class="inner" style="text-align:center;">
				<header><h2>{{ feature.title }}</h2></header>
				<p>{{ feature.description }}</p>
				
				{% if not feature.videoUrl is empty %}
					<iframe class="image fit" src="{{ feature.videoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% endif %}
				
				{% if not feature.imageUrl is empty %}
					<img style="width:100%;max-height:200px;" src="{{ feature.imageUrl }}" />
				{% endif %}
			</div>
		</section>
	{% endfor %}

<section id="one">
	<div style="background-image: url('/images/visionar-gartner.jpg');min-height:200px;background-size: cover;
		background-repeat: no-repeat;">
				
			</div>    
</section>
    
{% endblock %}