{% extends "templates/parts/base_content.html" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

		<style>
		.embed-container {
		  position: relative; 
		  padding-bottom: 56.25%; /* ratio 16x9 */
		  height: 0; 
		  overflow: hidden; 
		  width: 100%;
		  height: auto;
		}
		.embed-container iframe {
		
		  position: absolute; 
		  top: 0; 
		  left: 0; 
		  width: 100%; 
		  height: 100%; 
		}
	</style>

	<section id="banner">
		<div class="inner">
			<h1>AXON.IVY DIGITIAL BUSINESS PLATFORM</h1>
			<ul class="actions">
				<li><a href="/download" class="button alt">Download {{ latestMinorVersion }}</a></li>
				<li><a href="{{ newAndNoteworthyLink }}" class="button alt">New and Noteworthy</a></li>
			</ul>
		</div>
	</section>
	
	{% for feature in features %}
		<section id="one">
			<div class="inner-small" style="text-align:center;">
				<header><h2>{{ feature.title }}</h2></header>
				<p>{{ feature.description }}</p>
				
				{% if not feature.videoUrl is empty %}
				<div class="embed-container">
					<iframe src="{{ feature.videoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				{% endif %}
				
				{% if not feature.imageUrl is empty %}
					<span class="image fit"><img src="{{ feature.imageUrl }}" /></span>
				{% endif %}
			</div>
		</section>
	{% endfor %}
	
	<section id="banner" style="background-image: url('/images/visionar-gartner.jpg');">
		<div class="inner">
			<h1>&nbsp;</h1>
		</div>
	</section>

{% endblock %}